.slide-slide {
  align-items: stretch;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-backgrounds-darkblue);
}
.slide-max-width {
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}
.slide-left-side {
  width: 50%;
  display: flex;
  align-items: stretch;
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: row;
  justify-content: space-between;
}
.slide-decorations-container {
  flex: 1;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-between;
}
.slide-dots {
  width: 126px;
  height: 126px;
  margin-top: 21px;
  object-fit: cover;
  margin-right: 21px;
}
.slide-squares-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.slide-light-green {
  flex: 0 0 auto;
  width: 54px;
  height: 54px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-backgrounds-lightgreen);
}
.slide-orange {
  flex: 0 0 auto;
  width: 108px;
  height: 108px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-backgrounds-primary);
}
.slide-image-container {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
}
.slide-image {
  width: 100%;
  height: 485px;
  object-fit: cover;
}
.slide-slider-controls {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: flex-end;
}
.slide-go-left {
  flex: 0 0 auto;
  width: 100%;
  height: 108px;
  display: flex;
  max-width: 108px;
  max-height: 108px;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.slide-go-left:hover {
  cursor: pointer;
  background-color: rgba(229, 229, 229, 0.2);
}
.slide-icon {
  fill: var(--dl-color-grays-white100);
  width: 42px;
  height: 42px;
}
.slide-go-right {
  flex: 0 0 auto;
  width: 100%;
  height: 108px;
  display: flex;
  max-width: 108px;
  max-height: 108px;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.slide-go-right:hover {
  cursor: pointer;
  background-color: rgba(229, 229, 229, 0.2);
}
.slide-icon2 {
  fill: var(--dl-color-grays-white100);
  width: 42px;
  height: 42px;
}
.slide-right-side {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
.slide-testimonial {
  color: var(--dl-color-grays-white100);
  font-size: 27px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 42px;
}
.slide-author {
  color: var(--dl-color-grays-white100);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
}
.slide-role {
  color: var(--dl-color-grays-white60);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.slide-root-class-name {
  background-color: var(--dl-color-backgrounds-purple);
}
.slide-root-class-name1 {
  background-color: var(--dl-color-backgrounds-green);
}
@media(max-width: 991px) {
  .slide-left-side {
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 767px) {
  .slide-max-width {
    flex-direction: column;
  }
  .slide-left-side {
    width: 100%;
    padding-right: 0px;
  }
  .slide-image {
    max-width: 700px;
  }
  .slide-right-side {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .slide-dots {
    width: 60px;
    height: 60px;
  }
  .slide-light-green {
    width: 36px;
    height: 36px;
  }
  .slide-orange {
    width: 75px;
    height: 75px;
  }
  .slide-go-left {
    height: 75px;
    max-width: 75px;
    max-height: 75px;
  }
  .slide-go-right {
    height: 75px;
    max-width: 75px;
    max-height: 75px;
  }
}

.home-container {
  width: 100%;
  display: flex;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-backgrounds-gray);
}
.home-main {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-max-width {
  align-items: stretch;
}
.home-content-container {
  flex: 1;
  display: flex;
  min-width: 50%;
  align-items: flex-start;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.home-text {
  width: 90%;
  margin-bottom: 42px;
}
.home-text02 {
  color: var(--dl-color-backgrounds-primary);
}
.home-text04 {
  color: var(--dl-color-backgrounds-primary);
}
.home-image-container {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-image {
  width: 100%;
  max-width: 589px;
  object-fit: cover;
  margin-left: 45px;
}
.home-section-one {
  border-color: rgba(33, 33, 33, 0.1);
  border-width: 1px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.home-max-width1 {
  flex-direction: column;
}
.home-text05 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-text07 {
  color: var(--dl-color-backgrounds-primary);
}
.home-cards-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-max-width2 {
  flex-direction: row;
  justify-content: flex-start;
}
.home-image-container1 {
  flex: 1;
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.home-image1 {
  width: 100%;
  max-width: 640px;
  object-fit: cover;
  margin-left: -100px;
}
.home-content-container1 {
  flex: 1;
  display: flex;
  max-width: 446px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-text11 {
  margin-bottom: 24px;
}
.home-text13 {
  color: var(--dl-color-backgrounds-primary);
}
.home-text14 {
  color: var(--dl-color-grays-gray100);
}
.home-max-width3 {
  flex-direction: row;
  justify-content: flex-start;
}
.home-content-container2 {
  flex: 1;
  display: flex;
  max-width: 446px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-text17 {
  margin-bottom: 24px;
}
.home-text19 {
  color: var(--dl-color-backgrounds-primary);
}
.home-text20 {
  color: var(--dl-color-grays-gray100);
}
.home-image-container2 {
  flex: 1;
  margin-left: var(--dl-space-space-oneandhalfunits);
}
.home-image2 {
  width: 100%;
  object-fit: cover;
  margin-left: 85px;
}
.home-section-four {
  padding-bottom: 0px;
}
.home-max-width4 {
  flex-direction: column;
}
.home-text23 {
  text-align: center;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home-text25 {
  color: var(--dl-color-backgrounds-primary);
}
.home-text26 {
  color: transparent;
}
.home-slider {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  transition: 0.5s;
  align-items: stretch;
  flex-direction: row;
}
.home-max-width5 {
  flex-direction: column;
  justify-content: center;
}
.home-heading-container {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
}
.home-text27 {
  text-align: center;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text30 {
  color: var(--dl-color-backgrounds-primary);
}
.home-text33 {
  color: var(--dl-color-grays-gray100);
}
.home-cards-container1 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  grid-template-columns: 1fr 1fr;
}
@media(max-width: 991px) {
  .home-max-width {
    flex-direction: column;
  }
  .home-content-container {
    margin-bottom: 42px;
    padding-right: 0px;
  }
  .home-text {
    width: 100%;
  }
  .home-image {
    max-width: 100%;
    margin-left: 0px;
  }
  .home-image1 {
    max-width: 100%;
    margin-left: 0px;
  }
  .home-content-container1 {
    margin-bottom: 42px;
    padding-right: 0px;
  }
  .home-text11 {
    width: 100%;
  }
  .home-content-container2 {
    margin-bottom: 42px;
    padding-right: 0px;
  }
  .home-text17 {
    width: 100%;
  }
  .home-image2 {
    max-width: 100%;
    margin-left: 0px;
  }
}
@media(max-width: 767px) {
  .home-text05 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-cards-container {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .home-max-width2 {
    flex-direction: column;
  }
  .home-image-container1 {
    width: 100%;
    margin-right: 0px;
  }
  .home-image1 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-content-container1 {
    max-width: 100%;
  }
  .home-max-width3 {
    flex-direction: column-reverse;
  }
  .home-content-container2 {
    max-width: 100%;
  }
  .home-image-container2 {
    width: 100%;
    margin-right: 0px;
  }
  .home-image2 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-text23 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-text27 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-cards-container1 {
    grid-template-columns: 1fr;
  }
}
@media(max-width: 479px) {
  .home-cards-container {
    justify-content: center;
  }
}
